{% extends './dashboard/users/users.html' %}
{% block workspace_name %}Administracion de productos {% endblock %}
{% block addCustomButton %}
    <a href="/dashboard/products/create" class="btn btn-primary">
        Nuevo Producto
    </a>
    {% endblock %}


{% block workspace_main_table %}

<article class="workspace-table-container">
    <table class="workspace-table">
        <thead>
            <tr class="workspace-table-thead">
                <th>Id</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descripcion del producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr data-product="{{product}}">
                <!-- Here we retrived passwords too -->
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td class="password-container-item">{{product[2]}}</td>
                <td class="password-container-item">{{product[3]}}</td>
                <td>{{product[4]}}</td>
                <td>{{product[5]}}</td>
                <td>
                    <div style="display: flex; align-items:center; justify-content: center;">
                        <a href="/dashboard/products/update/{{product[0]}}" class="workspace-table-tItem info"
                            data-bs-whatever="@mdo">
                            <img src="{{url_for('static', filename='images/edit_FILL0_wght400_GRAD0_opsz48.svg')}}"
                                alt="edit" class="workspace-table-tItem-image" data-product="{{product}}"/>
                    </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

{% endblock %}

{% block title %}Products{% endblock %}
